body{
  background: #2d2d2d;
  color: #f6f6f6;
  font-family: monospace;
  align-items: center;
}
.stopwatch{
  font-size: 5rem;
  font-family: monospace;
text-align: center;
}
button{
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
h1{
  text-align: center;
  color:lavender;
  font-size: 50px;
}
.controls{
  display: block;
text-align: center;
}
.stop{
  background-color: blue;
}
.pause{
  background-color: red;
}
.start{
  background-color: green;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
.restart{
  background-color: yellow;
}
.lap{
  background-color: #b2ebf2;
}
ul{
  margin: 0;
  padding: 0;
}

li{
  font-size: 20px;
  line-height: 20px;
  margin: 20px;
  margin-bottom:0;
}

input{
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  font-weight: 300;
}

.list{
text-align: center;
display: flex;
justify-content: center;
flex-direction: rows;
}
.input{
  display: inline-block;
}
